<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Procedimentos para o embelezamento do olhar e lábios! Nanopigmentação, Nanoblanding e Design!">
    <meta name="keywords"
        content="Micropgmentação, Nanopigmentação, Nanoblanding, Design de sobrancelhas, Pump Lips, lábios, cílios, olhar, estética, Design com henna, Brow lamination, Águas Claras, DF, Brasília, ">
    <meta name="author" content="Diego Casagrande">
    <meta name="url" content="http://www.lisbeauty.com.br">
    <meta name="robots" content="index,follow" />
    <meta name="copyright" content="Lis Beauty">
     <!--  Essential META Tags -->
    <meta property="og:title" content="Lis Beauty, mais beleza para suas Sobrancelhas e Lábios!">
    <meta property="og:description"
        content="Lis Beauty, mais beleza para suas Sobrancelhas e Lábios!">
    <meta property="og:image" content="https://www.lisbeauty.com.br/assets/images/LisHigh.png">
    <meta property="og:url" content="https://www.lisbeauty.com.br">
    <meta name="twitter:card" content="https://www.lisbeauty.com.br/assets/images/LisHigh.png">
    <meta property="og:site_name" content="Lis Beauty">
    <meta name="og:email" content="liss.fernandes2@gmail.com" />
    <meta name="og:phone_number" content="(61)98202-8857" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->

    <title>Lis Beauty - Mais beleza para suas Sobrancelhas e Lábios</title>
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/images/LisHigh.png" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/min-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <!-- <link rel="stylesheet" href="assets/css/lightbox.css"> -->
  </head>

<body>


  <!-- ***** Header ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          <img src="assets/images/logo_horizontal_pp.png" alt="Lis Beauty">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Início</a></li>
                          <li class="scroll-to-section"><a href="#services">Serviços</a></li>
                          <!-- <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Serviços</a>
                              <ul class="sub-menu">
                                  <li><a href="about-us.html">Lábios</a></li>
                                  <li><a href="our-services.html">Sobrancelhas</a></li>
                                  <li><a href="contact-us.html">Cílios</a></li>
                                  <li><a href="contact-us.html">Pump Lips</a></li>
                                  <li><a href="contact-us.html">Design de sobrancelhas</a></li>
                                  <li><a href="contact-us.html">Design de sobrancelhas</a></li>
                              </ul>
                          </li> -->
                          <li class="scroll-to-section"><a href="#testimonials">Depoimentos</a></li> 
                          <li class="scroll-to-section"><a href="#contact-section">Contatos</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Lis Beauty agradece sua visita!</h6>
            <h2>Mais beleza para suas sobrancelhas e <em>lábios!</em></h2>
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#contact-section">Ganhe agora 20% de desconto!</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image main-img">
            <img src="assets/images/headerDu.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Conheça Lis Beauty</h6>
            <h4>Principais <em>Serviços</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/highlight_sobrancelha.png" alt="">
                </div>
                <h4 style="text-align: center;">Sobrancelha</h4>
                <p>Design com rena e tintura, Nanopigmentação de Sobrançelhas (evolução da micropigmentação) e Brow Lamination.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/highlight_labios.png" alt="">
                </div>
                <h4>Lábios</h4>
                <p>Nanopigmentação Labial (evolução da micropigmentação labial) e Pump Lips (Hidratação com vitaminas e ácido hialuronico).</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/highlight_cilios.png" alt="">
                </div>
                <h4>Cílios</h4>
                <p>Lash lifting, extensão de cílios, volume brasileiro e Brow Lamination.</p>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Saiba mais</h6>
            <h4>Mais <em>Beleza Natural</em> para você</h4>
            <p>Visite nosso <a href="https://www.instagram.com/lisfernandes.beauty/">instragram</a> para saber de todas as atualizações e ficar por dentro das promoções.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Nanoblanding Sobrancelhas</span></div>
                    <div class="gradient-border"><span>Brow Lamination</span></div>
                    <div class="gradient-border"><span>Nano Labial</span></div>
                    <div class="gradient-border"><span>Pump Lips</span></div>
                    <div class="gradient-border"><span>Lash Lifting</span></div>
                    <div class="gradient-border"><span>Design Sobrancelhas</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img style="max-width: 300px;" src="assets/images/nano_site.png" alt="Nanopigmentação de sobrancelhas">
                        </div>
                        <div class="right-content">
                          <h4>Nanoblanding Sobrancelhas</h4>
                          <p>Técnica que faz a sobrancelha ficar com aspecto natural e simula fios reais. Feita manualmente fio a fio, trazendo realismo e naturalidade para a sobrancelha. 
                          <br><br>É uma evolução da microblanding, trazendo um resultado muito real, simula perfeitamente o fio real da cliente, mantendo a cor, textura e desenho. 
                          <br><br> 
                         </p>
                          <span class="last-span">Faça seu orçamento hoje mesmo!</span>
                          <div class="text-button">
                            <a href="contact-us.html">Ir para os contatos</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img style="max-width: 300px;" src="assets/images/brow_site.png" alt="Brow lamination">
                        </div>
                        <div class="right-content">
                          <h4>Brow Lamination</h4>
                          <p>Conhecida como sobrancelhas laminadas ou selvagens, a brow lamination traz um design que deixa o resultado muito natural. 
                            <br><br>A técnica consiste em pentear os fios quase verticalmente e alisá-los com uma tinta semipermanente. Destaca-se a beleza natural sem utilizar micropigmentação.
                          </p>
                          <span class="last-span">Faça seu orçamento hoje mesmo!</span>
                          <div class="text-button">
                            <a href="contact-us.html">Ir para os contatos</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img style="max-width: 300px;" src="assets/images/labial_site.png" alt="Nano pigmentação labial">
                        </div>
                        <div class="right-content">
                          <h4>Nanopigmentação Labial</h4>
                          <p>É a evolução da micropigmentação lábial, um procedimento que busca a naturalidade, realçando a cor dos lábios, traz a sensação de volume e o efeito de borda infinita. 
                            <br>Tem a função de realçar a beleza natural dos lábios, revitalizar, corrigir pequenas imperfeições e harmonizar a cor.
                            Tenha lábios perfeitos e rejuvenecidos.

                          </p>
                          <span class="last-span">Faça seu orçamento hoje mesmo!</span>
                          <div class="text-button">
                            <a href="contact-us.html">Ir para os contatos</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img style="max-width: 300px;" src="assets/images/pump.png" alt="Pump lips">
                        </div>
                        <div class="right-content">
                          <h4>Pump Lips</h4>
                          <p>É um tratamento com a finalidade de revitalizar os lábios. 
                            <br>Recupera o aspecto natural, saudável e remove as ruguinhas indesejadas. 
                            <br><br>É realizada uma esfoliação profunda para a retirada da pele ressecada e a aplicação de um ativo revitalizante com um blend de vitaminas.</p>
                          <span class="last-span">Faça seu orçamento hoje mesmo!</span>
                          <div class="text-button">
                            <a href="contact-us.html">Ir para os contatos</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img style="max-width: 300px;" src="assets/images/lash.png" alt="Lash lifting">
                        </div>
                        <div class="right-content">
                          <h4>Lash lifting</h4>
                          <p>O Lash Lifting é a evolução do permanente de cílios. 
                            <br>Essa técnica trata, curva, colore e alonga os cílios naturais, deixando com aspecto de estar com máscara (rímel)</p>
                          <span class="last-span">Faça seu orçamento hoje mesmo!</span>
                          <div class="text-button">
                            <a href="contact-us.html">Ir para os contatos</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img style="max-width: 300px;" src="assets/images/design.png"  alt="Design de sobrancelhas">
                        </div>
                        <div class="right-content">
                          <h4>Design de Sobrancelhas</h4>
                          <p>O design de sobrancelha personalizado visa o resultado ideal para cada rosto, levando em consideração o formato, proporção e simetria para encontrar o desenho que é o mais adequado para cada pessoa. 
                          </p>
                          <span class="last-span">Faça seu orçamento hoje mesmo!</span>
                          <div class="text-button">
                            <a href="contact-us.html">Ir para os contatos</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="assets/images/LisHigh.png" alt="Lis beauty">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Estamos prontos para atende-lá!</h6>
          <h4>Siga a Lis no Insta!</h4>
          <p>Tire suas dúvidas e faça agora mesmo sua avaliação! Estamos disponíveis no Instagram e no WhatsApp para prestar o melhor atendimento!</p>
          <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-lg-5">

              <div class="white-button">
                <a target="_blank" href="https://www.instagram.com/lisfernandes.beauty/">Instagram</a>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="white-button">
                <a target="_blank" href="https://api.whatsapp.com/send/?phone=5561982028857&text&app_absent=0">WhatsApp</a>
              </div>
            </div>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Depoimentos</h6>
            <h4>O que nossas clientes <em>pensam</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>“A super estilosa Lis faz a gente se sentir muito bem com técnicas super atualizadas. ”</p>
                <h4>Milena</h4>
                <span>Cliente</span>
                <img src="assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“O Pump lips me deixou super empolgado, meu lábios ficaram lindos e pareciam 10 anos mais novos.”</p>
                <h4>Suelem</h4>
                <span>Cliente de SC</span>
                <img src="assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Fiz nanopigmentação labial com a Lis e posso garantir que ficou lindo!”</p>
                <h4>Sandra</h4>
                <span>Cliente do DF</span>
                <img src="assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“Minha micropigmentação de sobrancelha ficou exatamente como eu sonhava.”</p>
                <h4>Silvia</h4>
                <span>Cliente de BH</span>
                <img src="assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“O melhor de tudo é o atendimento de excelência.”</p>
                <h4>Juliana</h4>
                <span>Cliente do DF</span>
                <img src="assets/images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div style="text-align: center;" class="section-heading">
            <h6><em>Dúvidas</em>, avaliação e orçamentos</h6>
            <h4>Contatos</h4>
          </div>
        </div>        
        <div class="col-lg-6">
          <div class="contact-left" style="min-height: 100%;">
            <div class="row">
              <div class="col-lg-2">
                <div class="contact-left-icon">
                  <i class="fa fa-whatsapp"></i>
                </div>
              </div>
              <div class="col-lg-10" style="align-self: center;">
                <h4><a style="color: white;" target="_blank" href="https://www.instagram.com/lisfernandes.beauty/">WhatsApp</a></h4>
                  <span><a style="color: white;" href="tel:982028857">(61) 98202 8857</a></span>
              </div>
              <div class="col-lg-2 contact-left-top">
                  <div class="contact-left-icon">
                    <i class="fa fa-instagram"></i>
                  </div>
                </div>
                <div class="col-lg-10 contact-left-top" style="align-self: center;">
                  <a style="color: white;" target="_blank"
                  href="https://www.instagram.com/lisfernandes.beauty/">                  
                  <h4>@lisfernandes.beauty</h4>
                </a>
              </div>
              <div class="col-lg-2 contact-left-top">
                  <div class="contact-left-icon">
                    <i class="fa fa-link"></i>
                  </div>
              </div>
              <div class="col-lg-10 contact-left-top" style="align-self: center;">
                <h4><a style="color: white;" target="_blank" href="https://linktr.ee/lisfernandesbeauty/">/lisfernandesbeauty</a>  <h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          
          <form  style="min-height: 100%;" id="contact" action="/contact" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Promoção</h6>
                  <h4>Ganhe <em>20% de desconto!</em></h4>
                  <p>Informe o seu email para receber um cupon e ficar por dentro de todas as promoções.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" id="emailForm" name="emailForm" pattern="[^ @]*@[^ @]*" placeholder="Seu email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Enviar</button>
                </fieldset>
              </div>
            </div>
          </form>

        </div>
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a target="_blank" href="https://www.instagram.com/lisfernandes.beauty/"><i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://api.whatsapp.com/send/?phone=5561982028857&text&app_absent=0"><i class="fa fa-whatsapp"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright @DPC. 
           <br>
           <br>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <!-- <script src="assets/js/lightbox.js"></script> -->
    <script src="assets/js/tabs.js"></script>
    <!-- <script src="assets/js/video.js"></script> -->
    <!-- <script src="assets/js/slick-slider.js"></script> -->
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>

</body>

</html>